/* public/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
}

textarea {
    width: 60%;
    padding: 10px;
    height: 600px;
    
}

button {
    padding: 10px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}
.form-control{
    height: 100px;
}